/*Sets entire page to have a 10 px margin and a 0px padding*/
*{
    margin: 10px;
    padding: 0px;
}

/*This is styling for alert div*/
.alert{
    color:rgb(53, 73, 125);
    text-align: center;
    background-color: rgba(251, 255, 240, 0.451);
    padding: 30px
}

/*This is styling for the body :) */
body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(128, 177, 218)
}
